*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
header{
    height: 40px;
    width: 100%;
    display: flex;
    background-color: aliceblue;
}
.logo{
    height: 50px;
    width: 25%;
    background-color: red;
    color: white;
    text-align: center;
}
.menu{
    height: 50px;
    width: 75%;
    background-color: rgb(77, 167, 167);
    color: white;
    text-align: center;
}

/* service_section_start_here */

.service_section{
    display: flex;
    margin-top: 10px;
}
.left_div{
    height: 150px;
    width: 33%;
    background-color: rgb(64, 161, 247);
    color: rgb(172, 52, 52);
    text-align: center;
}
.middle_div{
    height: 150px;
    width: 33%;
    background-color: rgb(36, 30, 30);
    color: white;
    text-align: center;
}
.right_div{
    height: 150px;
    width: 34%;
    background-color: rgb(69, 168, 29);
    color: white;
    text-align: center;
}
/* service_section_end */

/* conten_section_start */

.cntent_section{
    display: flex;
}
.left1{
    height: 300px;
    width: 20%;
    background-color: blue;
    text-align: center;
    color: white;
}
.right1{
    height: 300px;
    width: 80%;
    background-color: rgb(144, 235, 70);
    text-align: center;
    color: white;
}
/* content_end_here */
.footer{
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}